[env:Heltec_v3_wifi_home]
extends = Heltec_lora32_v3
build_flags =
  ${Heltec_lora32_v3.build_flags}
  -I examples/companion_radio/ui-new
  -D MAX_CONTACTS=350
  -D MAX_GROUP_CHANNELS=40
  -D DISPLAY_CLASS=SSD1306Display
  -D WIFI_DEBUG_LOGGING=1
  -D BLE_DEBUG_LOGGING=1
  -D OFFLINE_QUEUE_SIZE=256
  -D LORA_SF=8
  -D LORA_CR=8
  -D TCP_PORT=5000
  -D WIFI_SSID='"JOUW_WIFI"'
  -D WIFI_PWD='"JOUW_WACHTWOORD"'
  -D BLE_PIN_CODE=123456
build_src_filter = ${Heltec_lora32_v3.build_src_filter}
  +<helpers/ui/SSD1306Display.cpp>
  +<helpers/ui/MomentaryButton.cpp>
  +<helpers/esp32/*.cpp>
  +<../examples/companion_radio/*.cpp>
  +<../examples/companion_radio/ui-new/*.cpp>
lib_deps =
  ${Heltec_lora32_v3.lib_deps}
  densaugeo/base64 @ ~1.4.0
  WebServer
  HTTPClient
  NetworkClientSecure
